services:
  fe:
    build:
      context: .
      dockerfile: ./FE/Dockerfile_FE
    container_name: fe
    ports:
      - "5001:443"
      - "8081:8080"
    env_file:
      - .env
    volumes:
      - ./https:/https:ro
    restart: unless-stopped
