services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "${SA_PASSWORD}"
    ports:
      - "1433:1433"
    volumes:
      - sqlserver_data:/var/opt/mssql
    networks:
      - hrm-network

  be:
    build:
      context: .
      dockerfile: ./BE/Dockerfile_BE
    container_name: be
    ports:
      - "5000:443"   
    environment:
      ASPNETCORE_ENVIRONMENT: "${ASPNETCORE_ENVIRONMENT}"
      ASPNETCORE_URLS: "${ASPNETCORE_URLS}"
      ASPNETCORE_Kestrel__Certificates__Default__Path: "${ASPNETCORE_Kestrel__Certificates__Default__Path}"
      ASPNETCORE_Kestrel__Certificates__Default__Password: "${ASPNETCORE_Kestrel__Certificates__Default__Password}"
      ConnectionStrings__DefaultConnection: "Server=${DB_HOST},${DB_PORT};Database=${DB_NAME};User Id=${DB_USER};Password=${SA_PASSWORD};TrustServerCertificate=True;"
    volumes:
      - ./https:/https:ro
    depends_on:
      - sqlserver
    networks:
      - hrm-network

  fe:
    build:
      context: .
      dockerfile: ./FE/Dockerfile_FE
    container_name: fe
    ports:
      - "5001:443"    
    environment:
      ASPNETCORE_ENVIRONMENT: "${ASPNETCORE_ENVIRONMENT}"
      ASPNETCORE_URLS: "${ASPNETCORE_URLS}"
      ASPNETCORE_Kestrel__Certificates__Default__Path: "${ASPNETCORE_Kestrel__Certificates__Default__Path}"
      ASPNETCORE_Kestrel__Certificates__Default__Password: "${ASPNETCORE_Kestrel__Certificates__Default__Password}"
      # API_URL: "${API_URL}"
      API_URL_SERVER: "https://be:443"       
      API_URL_CLIENT: "https://98.95.20.86:5000" 
    volumes:
      - ./https:/https:ro
    depends_on:
      - be
    networks:
      - hrm-network

volumes:
  sqlserver_data:

networks:
  hrm-network:
    driver: bridge
