services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: ${SA_PASSWORD}
    ports:
      - "1433:1433"
    volumes:
      - sqlserver_data:/var/opt/mssql
    restart: unless-stopped

  be:
    build:
      context: .
      dockerfile: ./BE/Dockerfile_BE
    container_name: be
    ports:
      - "5000:443"
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - ./https:/https:ro
    depends_on:
      - sqlserver
    restart: unless-stopped

volumes:
  sqlserver_data:
