@{
    ViewData["Title"] = "Trang học viên";
    Layout = "~/Views/Shared/_Layout_Student.cshtml";
}

<h2>👋 Xin chào, @User.Identity?.Name!</h2>
<p>Chào mừng bạn đến với hệ thống quản lý học viên.</p>

<div class="row">
    <div class="col-md-3">
        <div class="card text-center border-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">Khóa học đang học</h5>
                <p class="card-text display-6 text-primary">@ViewBag.ActiveCourses</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center border-success mb-3">
            <div class="card-body">
                <h5 class="card-title">Khóa học đã hoàn thành</h5>
                <p class="card-text display-6 text-success">@ViewBag.CompletedCourses</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center border-warning mb-3">
            <div class="card-body">
                <h5 class="card-title">Thanh toán gần nhất</h5>
                <p class="card-text">@ViewBag.LastPaymentDate</p>
            </div>
        </div>
    </div>
</div>
