/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
/*.banner_01{
    background-image: url(../images/Background_Home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}*/
.card:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
}
